[Desktop Entry]
Type=Application
Name=LoopSign Autorun
Exec=/home/loopsign/autorun.sh
StartupNotify=false
Terminal=false
X-GNOME-Autostart-enabled=true
