[Desktop Entry]
Type=Application
Name=LoopSign Autorun
Comment=Starts autorun.sh on login
Exec=/home/loopsign/autorun.sh
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true
